:root {
    /*--main-bg: rgb(34, 34, 34);*/
    --background: #313031;
    --text: #dddddd;
    --accent: #d77a29;

    --border-color: black;
    --sec-color: rgb();
    --rf-bg: rgb(56, 55, 55);
    --fonts: system-ui, sans-serif, "Open Sans", Geneva, Verdana;
}

body {
    background-color: var(--background);
    font-family: var(--fonts);
    color: var(--text);
    box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

*:focus {
    outline: 2px dotted var(--accent);;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.reactFlow {
    background-color: var(--rf-bg);
    height: 70%;
    width: 70%;
    flex-grow: 1;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.tab {
    justify-content: flex-start;
}

.titlebar {
    width: 85%;
    border-bottom: 2px var(--text) solid;
    margin-bottom: 2rem;

    & .title {
        text-align: center;
        color: var(--accent);
        letter-spacing: 0.25rem;
    }

    // UNUSED
    // display: flex;
    // flex-direction: row;
    // justify-content: center;
    // align-items: center;
}

.searchbar {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 600px;
    & input {
        border: none;
        height: 2rem;
        width: 100%;
    }

    & .itemContainer {
        height: 300px;
        overflow-y: auto;
        border: 1px var(--text) solid;
    }

    & .searchbarItem {
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        text-align: center;

        &:nth-child(even) {
            background-color: rgba(255, 255, 255, 0.10);
        }

        &:nth-child(odd) {
            background-color: rgba(255, 255, 255, 0.08);
        }
    }
}
