:root {
    /*--main-bg: rgb(34, 34, 34);*/
    --main-bg: rgb(200, 200, 200);
    --border-color : black;
    --sec-color: rgb();
    --rf-bg: rgb(56, 55, 55);
    --text-color: black;
    --main-fonts: system-ui, sans-serif, 'Open Sans', Geneva, Verdana;

}

body{
    background-color: var(--main-bg);
    font-family: var(--main-fonts);
    color: var(--text-color);
}

#root{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.unselectable{
    -webkit-user-select: none;     
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.reactFlow{
    background-color: var(--rf-bg);
    height:70%;
    width: 70%;
    flex-grow: 1;
}


.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.tab{
    justify-content: flex-start;
    & .treeTab{

    }
    & .mainTab{

    }
}

.titlebar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 85%;
    border-bottom: 2px var(--border-color) solid;
    margin-bottom: 10px;

    & .title{
        margin-top: 10px;
        letter-spacing: 0.3rem;
    }
}



.searchbar{
    display: flex;
    flex-direction: column;
    width: 25%;
    & input{
        border: none;
        height: 25px;
        margin-bottom: 1px;
    }
    & .searchbarItem{
        height: 30px;
        border: 1px var(--border-color) solid;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
    }
    & .itemContainer{
        
    }
}